body{
    
    text-align: center;
    display: flex;
    flex-direction: column;
}
fieldset{
    font-size: large;
    color: blueviolet;
    align-self: center;
    align-items: center;
    height: 250px;
    width: 400px;
   
}
